@model Harmic.Models.TbProduct

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Xoá sản phẩm</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">General Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Xoá sản phẩm</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->

                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tiêu đề:</label>
                                @Html.DisplayFor(model => model.Title)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Alias:</label>
                                @Html.DisplayFor(model => model.Alias)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Chi tiết:</label>
                                @Html.Raw(Model.Detail)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Ảnh:</label>
                                <img src="@Html.DisplayFor(model => model.Image)" width="300px"/>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Danh mục:</label>
                                @Html.DisplayFor(model => model.CategoryProduct.Title)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Giá:</label>
                                @Html.DisplayFor(model => model.Price)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Giá giảm:</label>
                                @Html.DisplayFor(model => model.PriceSale)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Số lượng:</label>
                                @Html.DisplayFor(model => model.Quantity)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Sao:</label>
                                @Html.DisplayFor(model => model.Star)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Sản phẩm mới:</label>
                                @Html.DisplayFor(model => model.IsNew)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Bán chạy:</label>
                                @Html.DisplayFor(model => model.IsBestSeller)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Hiển thị</label>
                                @Html.DisplayFor(model => model.IsActive)
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="ProductId" />
                                <input type="submit" value="Xoá" class="btn btn-danger" /> |
                                <a asp-action="Index" class="btn btn-primary">Quay lại</a>
                            </form>
                        </div>

                    </div>
                    <!-- /.card -->
                    <!-- general form elements -->
                    <!-- /.card -->
                    <!-- Input addon -->
                    <!-- /.card -->
                    <!-- Horizontal Form -->
                    <!-- /.card -->

                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>